
body{
  margin:0;
  padding: :0;
  box-sizing: border-box;

}

img{
  max-width: 100%;
}

h1,h2{margin-bottom: 20px;}

.topbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
  background-color: white;
  padding-right: 20px;
}



.navbar {
position: relative;
bottom: 20px;
background-color: none;
padding-right: 20px;
}

.navbar li a{
  padding-left: 20px;
}

.navbar li:hover{
  border-bottom: 1px solid orange;
}

.logo{
margin-left: 20px;
}

.navbar-nav li{
  border-right: 1px solid #f1f1f1;


}


.topbar li{
margin: 7px;
list-style-type: none;

}

.topbar li a{
  text-decoration: none;
  color: orange;
  font-size: 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border:none;
  border-radius: none;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

.nav-item:hover .dropdown-menu{
  display: block;
}

 button{
  background-color: #da5800;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
}

button a{
  text-decoration: none;
  color: white;
}

button a:hover{
  color: white;
}



.heading{
  text-align: center;
  font-size: 50px;

}

.p-one{
  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.lines{
  margin-top: 50px;
  background-color: #f1f1f1;
  opacity: 0.9px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background-color: #f1f1f1;
padding-top: 50px;
}
.content div{
  padding-left: 50px;
padding-right: 50px;
}
.content p{
  text-align: justify;
}

.content img{
display: flex;
justify-content: center;
}

.content h1{
  display: flex;
  justify-content: center;
}
.content p{
  display: flex;
  justify-content: center;
}

.orange{

  padding: 50px;
  width: 1346px;
  height: 200px;
  background-color: purple;
}

.orange h1{
  color: white;
  font-size: 28px;
  text-align: center;

}

.orange p{
  color: white;
  text-align: center;
}



@media screen and (max-width:600px) {
  .orange{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}


@media screen and (max-width:600px) {
  .orange p{
    display: none;
  }
}

.ranks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("code pics/blur.webp");


  /* padding: 50px; */

}

.r-con{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  /* height: 500px; */
  box-shadow: 0px 7px 30px -20px;
  margin: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;

}

.r-con h1{
  font-size: 25px;
  text-align: center;
}


.button{
  display: flex;
  justify-content: center;
  align-items:
}

.button button{
  border:none;
  background-color: orange;
  text-align: center;
padding: 15px;
border-radius: 7px;
}

.button a{
  background-color: orange;
  border:none;
  text-decoration: none;
  color: white;
}

.back{

}

/* the new footer concept begins here */

.footimgages{
  padding: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .footimgages .faith-list .faith-liste{
    display: flex;
    flex-direction: column;
  }
}

.footimgages a{
  margin: 10px;
}

.faith{
  display: flex;
  background-color: #333;
  justify-content: space-around;
  height: 150px;
  align-items: center;
}

.faith-list{
  display: flex;
}

.faith-list a{
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .faith-list a,{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .faith-list p{
    display: none;
  }
}

.faith-list p{
  color: white;
}

.faith-liste{
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
}

@media screen and (max-width: 600px) {
  .faith-liste{
    display:flex;
margin-right: 130px;
  }
}

.faith-liste a{
  padding-left: 30px;
  color: white;
  font-size: 20px;
}


/* .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#da5800;
  height: 150px;
  border-top: 50px solid #f1f1f1;
}

.flex-con {
  display: flex;
  justify-content: flex-end;
}
.flex-con a{
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin-right: 20px;
}

.footimgages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footimgages{
  margin-top: 300px;
} */
